* {
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
}

nav {
  display: flex;
  align-items: center;
  gap: 90px;
  margin-top: 0px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 15px;
  align-items: center;
  gap: 30px;
}
#homescreen-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 4px;
  font-size: 15px;
  font-weight: 900;
  color: #fff;
  background-color: grey;
  border: 2px solid grey;
  cursor: pointer;
  width: 120px;
  height: 75px;
  box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
}

.score-recap,
.clock-recap,
.high-score-recap {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2px;
  font-size: 15px;
  font-weight: 900;
  color: #fff;
  background-color: grey;
  border: 2px solid grey;
  width: 100px;
  height: 60px;
  box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
}

#score-title,
#clock,
#high-score {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px;
  font-size: 15px;
  font-weight: 900;
  color: #fff;
  background-color: red;
  border: 2px solid red;
  cursor: pointer;
  width: 100px;
  height: 75px;
  box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
}

#kpi span {
  font-size: 25px;
}

#title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 50px;
  letter-spacing: -2px;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

#kpi {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

#title-game {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 50px;
}

#loupe {
  height: 100px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0px;
  padding-top: 0px;
}

map {
  position: relative;
  z-index: 999;
}


#board {
  display: block;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  color: gray;
  font-size: 15px;
}

#instruction, footer p {
  padding: 0px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  text-align: center;
}

.container-winning,
container-losing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#main {
  display: flex;
  align-items: center;
}

#charlie-gauche {
  position: absolute;
  left: 0px;
}

#charlie-droite {
  position: absolute;
  right: 0px;
}

#home-btn,
#start-again-btn,
#next-round-btn {
  display: block;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  background-color: red;
  border: 2px solid red;
  cursor: pointer;
  width: 250px;
  height: 55px;
  box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
}

.charlie-win {
  width: 25%;
}

.charlie-lost {
  width: 300px;
  border-radius: 20%;
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-6 12:17:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-6 11:25:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
